/*
Udacity Front End Developer Nano Degree Project 1 Portfolio Site
Chaz Mateer
*/

/*
Colors
Orange: #F8981C
Light Greay: #bbbab9
Dark Grey: #5d614e
*/

/* For testing */

/** {
    border: 1px solid red !important;
}*/

/* End testing */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Framework */
.grid {
    margin: 0 auto;
    max-width: 75em;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

/* TODO Fix rough transitions and col-6 overlap in header */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

@media screen and (min-width: 600px) {
  .col-4 {
    width: 50%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
}

@media screen and (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}



/* Styles */
img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: bold;
}

a:link {
  color: #F8981C;
}

a:visited {
  color: #cc7d17;
}

a:hover {
  color: #f8c76e;
}

a:active {
  color: #ffebcb;
}

.padding-row {
  margin-left: -1em;
  width: calc(100% + 2em);
}

.center-text {
  text-align: center;
  position: relative;
  padding: 0 1em;
}

.hero {
  max-height: 500px;
  padding: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

h1 {
  margin: 0.5em 0 0 0;
  color: #000000;
}

h2{
  color: #5d614e;
  margin: 0;
  margin-top: 0.2em;
}

h3 {
  margin: 0;
  margin-top: 0.2em;
  color: #a8a7a6;
}

h4 {
  color: #5d614e;
}

header {
  border-bottom: solid #5d614e;
}



